body{
    background: url(img/FONDO.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.margint{
    margin-top: 9%;
    margin-left: 80px;
    margin-right: 45px;
}
.imagen{
    margin-left:11%;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.034);
    width: 85%;
   
    
}
.volver{
    color: rgb(151, 148, 148);
}
.volver:hover{
    color: rgb(255, 255, 255);
}
.logo{
    margin-left: 20%;
    margin-top: 15%;
}
.fondocol{
background-color: black;
border-radius: 30px;
margin-left: 15%;
margin-top: 15%;
}

.row{
    color: white;
}
.formulario{

    margin-left: 20%;
    margin-right: 20%;
}
